body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  display: flex;
  justify-content: center;
}

html {
  height: 100%;
}

#root {
  align-self: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.react-quiz-container {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron {
  width: 100%;
  height: 50%;
  align-self: center;
  display: grid;
  align-items: start;
}

.react-quiz {
  justify-self: center;
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 5px;
  width: 315px;
  display: grid;
  align-items: center;
}

.react-quiz .quiz-header {
  padding: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
  width: 100%;
  background-color: #D3FFE4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.quiz1 {
  justify-self: center;
  height: 100%;
}

.react-quiz-container .startQuizWrapper {
  margin-top: 15px;
}

.questionWrapperBody {
  margin: 20px;
}

.react-quiz-container .btn {
  font-weight: 600;
  text-align: center;
  padding: 11px 12px;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  margin: 0 auto;
  transition: ease-out 0.15s;
}

.react-quiz-container .questionWrapper .btn {
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #000F37;
  font-size: 15px;
  display: block;
  white-space: normal;
  text-align: unset;
  min-width: 273px;
}

.react-quiz-container .questionWrapper .btn.correct {
  background-color: #D3FFE4;
  color: #000F37;
}

#root .react-quiz-container .questionWrapper .card-body{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.react-quiz-container .questionModal .alert {
  padding: 20px;
  margin: 21px;
  border: 1px solid transparent;
  border-radius: 2px;
  color: #fff;
}

.react-quiz-container .correct {
  background: #c99654;
}

.react-quiz-container .incorrect {
  background-color: #D3FFE4;
}

.react-quiz-container .questionWrapper img {
  width: 100%
}

.questionWrapperBody {
  margin: 0px;
  height: 100%;
}

.questionWrapperBody div {
  display: flex;
  justify-content: center;
}

.react-quiz-container .answerBtn {
  min-width: 100%;
}

.react-quiz-container .answerBtn:hover {
  color: none;
}

.react-quiz-container .startQuizWrapper .startQuizBtn {
  font-size: 15px;
  border-radius: 2px;
  line-height: 1.35135;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid black;
  width: 90%;
  margin-bottom: 15px;
}

.nextQuestionBtn {
  background-color: #000F37;
  color: #D3FFE4;
  position: absolute;
  margin: 0 auto;
  transition: 0.3s;
}

.btn.correct:hover {
  color: #D3FFE4;
}

.react-quiz-container .result-answer-wrapper {
  border: 1px solid black;
  border-radius: 5px;
  width: 315px;
  margin: 30px auto 20px;
  padding-bottom: 15px;
}

.react-quiz-container .result-answer-wrapper p {
    background-color: #D3FFE4;
    color: black;
    border-bottom: 1px solid black;
    padding: 10px 2px 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.react-quiz-container .result-answer-wrapper .explanation {
  padding: 20px;
  margin: 0px 20px 50px 10px;
  border: 1px solid #D3FFE4;
}


.react-quiz-container .result-answer {
  padding: 0px 20px;
}

.react-quiz-container .quiz-synopsis {
  margin: 15px 10px;
}

.react-quiz-container .quiz-result-filter {
   overflow: hidden;
   width: 120px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   background-color: #44FA9D;
   border: 1px solid black;
   margin: 0px auto 30px;
}

.react-quiz-container .quiz-result-filter select {
   background: transparent;
   border: none;
   font-size: 16px;
   padding: 5px;
   width: 100%;
   height: 30px;
   border: 1px solid #ffffff;
}

.react-quiz-container .tag-container {
  height: 5px;
  display: none;
}

.react-quiz-container .selection-tag,
.react-quiz-container .number-of-selection{
  padding: 7px;
  border-radius: 5px;
  color: #ffffff;
}

/*.react-quiz-container .number-of-selection {
  background: #673AB7;
  margin-left: 5px;
  display: none;
}

.react-quiz-container .selection-tag.single {
  background: #3F51B5;
  display: none;
}

.react-quiz-container .selection-tag.multiple {
  background: #FF9800;
}
.react-quiz-container .selection-tag.segment {
  background: #3db4b9;
  margin-left: 5px;
}*/

.hidden {
  display: none;
}