body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.react-quiz-container {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-quiz {
  border: 1px solid #d9d9d9;
  padding: 30px
}

.react-quiz-container .startQuizWrapper {
  margin-top: 15px;
}

.questionWrapperBody {
  margin: 20px;
}

.react-quiz-container .btn {
  font-weight: 600;
  text-align: center;
  padding: 11px 12px;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  margin: 0 auto;
}

.react-quiz-container .questionWrapper .btn {
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  font-size: 15px;
  display: block;
  white-space: normal;
  text-align: unset;
  min-width: 300px;
}

.react-quiz-container .questionWrapper .btn.correct {
  background: blueviolet;
  color: white;
}

.react-quiz-container .questionModal .alert {
  padding: 20px;
  margin: 21px;
  border: 1px solid transparent;
  border-radius: 2px;
  color: #fff;
}

.react-quiz-container .correct {
  background: #c99654;
}

.react-quiz-container .incorrect {
  background: rgb(130, 130, 238);
  color: white;
}

.react-quiz-container .questionWrapper img {
  width: 90%
}

.react-quiz-container .answerBtn {
  min-width: 300px;
}

.react-quiz-container .startQuizWrapper .startQuizBtn {
  font-size: 15px;
  border-radius: 2px;
  line-height: 1.35135;
  color: rgba(0,0,0,0.65);
  background-color: #fff;
  border: 1px solid #d9d9d9;
}

.nextQuestionBtn {
  position: absolute;
  min-width: 300px;
}

.react-quiz-container .result-answer-wrapper {
  border: 1px solid #e8e8e8;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  margin: 30px auto 20px;
  padding-bottom: 15px;
}

.react-quiz-container .result-answer-wrapper h3 {
    background-color: #fafafa;;
    opacity: 0.8;
    color: rgba(0,0,0,0.9);
    margin: 0px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.react-quiz-container .result-answer-wrapper .explanation {
  padding: 20px;
  margin: 0px 20px 50px 10px;
  border: 1px solid #e8e8e8;
}


.react-quiz-container .result-answer {
  padding: 0px 20px;
}

.react-quiz-container .quiz-synopsis {
  margin: 15px 10px;
}

.react-quiz-container .quiz-result-filter {
   overflow: hidden;
   width: 120px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   background-color: #fefefe;
   border: 1px solid #e8e8e8;
   margin: 0px auto 30px;
}

.react-quiz-container .quiz-result-filter select {
   background: transparent;
   border: none;
   font-size: 16px;
   padding: 5px;
   width: 100%;
   height: 30px;
   border: 1px solid #ffffff;
}

.react-quiz-container .tag-container {
  
  margin-bottom: 20px;
}

.react-quiz-container .selection-tag,
.react-quiz-container .number-of-selection{
  padding: 7px;
  border-radius: 5px;
  color: #ffffff;
}

.react-quiz-container .number-of-selection {
  background: #673AB7;
  margin-left: 5px;
  display: none;
}

.react-quiz-container .selection-tag.single {
  background: #3F51B5;
  display: none;
}

.react-quiz-container .selection-tag.multiple {
  background: #FF9800;
}
.react-quiz-container .selection-tag.segment {
  background: #3db4b9;
  margin-left: 5px;
}

.hidden {
  display: none;
}